:root {
  --background: #f0f0f0;
  --text: #181818;
  --medium: #8d8d8d;
  --cards: #f7f7f7;
  --text-size: 16px;
  --title-size: 22px;
  --bkmrk-margin: 3px;
  --column-width: 320px;
  --font-family: 'Roboto Slab', sans-serif;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: var(--font-family);
  color: var(--text);
  font-size: var(--text-size);
}

html {
  background-color: var(--background);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bookmarkbody, .subcarbody {
  margin: var(--bkmrk-margin);
  transition: all 0.3s;
}

.categories-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 45px 20px 20px 20px;
  height: auto;
  width: 100vw;
}

.categories-column {
  width: var(--column-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.category {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-content:space-between;
  background-color: var(--cards);
  padding: 15px;
  border-radius: 10px;
  width: var(--column-width);
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0px 0px 17px -7px rgba(0,0,0,0.4);
  overflow-x: hidden;
}

li {
  list-style-type: none;
}

.bookmark-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: calc(var(--text-size) + 4px);
  background-color: inherit;
  width: inherit;
}

.bookmark-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  width: calc(100% + 20px);
  -webkit-mask-image: linear-gradient(90deg, var(--text) 85%, transparent);
  overflow-x: hidden;
}

.bookmark-btns {
  display: none;
  flex-direction: row;
  gap: 4px;
}

.bookmark-list {
  width: 280px;
}

.bookmark-btn {
  background: none;
	color: inherit;
	border: none;
  cursor: pointer;
  align-content: center;
}

.bookmark-btn svg {
  fill: var(--text);
}

.bookmark-wrapper:hover .bookmark-btns {
  display: flex;
}

.add-bookmark-btn {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  background: none;
	color: inherit;
	border: none;
  border-radius: 12px;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.add-bookmark-btn svg {
  fill: var(--text);
  transition: all .2s;
}

.add-bookmark-btn:hover svg {
  transform: scale(1.2);
}

.add-bookmark-btn:hover {
  background-color: var(--background);
}

.new-category {
  margin: 20px auto 10px auto;
}

.new-category-btn {
  width: var(--column-width);
  height: 30px;
  align-self: center;
  background: none;
	color: inherit;
	border: none;
  border-radius: 10px;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  transition: all .2s;
}

.new-category-btn:hover {
  background-color: var(--cards);
}

.new-category-btn svg {
  fill: var(--text);
  transition: all .2s;
}


.new-category-btn:hover svg {
  transform: scale(1.2);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
}

h3 {
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: var(--title-size);
  text-transform: uppercase;
  overflow:hidden;
  white-space: nowrap;
  width: calc(var(--column-width) - 20px);
  -webkit-mask-image: linear-gradient(90deg, var(--text) 85%, transparent);
}

a {
  text-decoration: none;
  white-space: nowrap; 
  text-align: start;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.category-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-btns {
  display: none;
  flex-direction: row;
  gap: 4px;
}

.category-title:hover .category-btns {
  display: flex;
}

.category-btn {
  background: none;
	color: inherit;
	border: none;
  cursor: pointer;
  align-content: center;
}

.category-btn svg {
  fill: var(--text);
}

.bookmark-edit_form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height:auto;
  margin-bottom: 0.5rem;
}

.bookmark-edit_form:hover .category-btns {
  display: none;
}